<div class="row">
  <div class="col-sm-3">
  <%= image_tag 'anne-richardson.png', class: "headshot" %>
  <h4>Anne Richardson</h4>
  <p><a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> 
    
  <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> 

  <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-lg"></i></a> 

  <a href="https://twitter.com/lortz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></p>


  </div><!-- col-sm-3-->

  <div class="col-sm-9">
    <div class="about padding">
      <h1>Select Your Tarot Set</h1>
      <div class="col-sm-6">
         <div class="panel">
           <div class="logo-holder">
             <%= image_tag 'tinytarot-logo.png' %> 
           </div> <!-- logo-holder -->
             
           <center><%= button_to "Download", "https://dl.dropboxusercontent.com/u/4051110/Tarot%20Spreads/tarotspreads-ALL.pdf", :class => "btn btn-primary", target: "_blank", :method => :get %></center>
         </div> <!-- panel -->
      </div> <!-- col-sm-6 -->
      <div class="col-sm-6">
         <div class="panel">
         <div class="logo-holder">
            <%= image_tag 'nolatarot-logo.png' %>
         </div> <!-- logo-holder -->
           
           <center><%= button_to "Download", "https://dl.dropboxusercontent.com/u/4051110/Tarot%20Spreads/nolatarotspreads-ALL.pdf", :class => "btn btn-primary", target: "_blank", :method => :get %></center>
         </div> <!-- panel -->
      </div> <!-- col-sm-6 -->

        
    </div><!--about-->  

  </div><!-- col-sm-9-->

</div><!--row-->




    




