<div class="row">
  <div class="col-sm-12">
    <h1 class="reading">Conflict Resolution Reading</h1>
    <h2 class="reading">Get insight into a situation that you just can't seem to resolve. Focus on a conflict with a specific person or organization, then click to turn over each card.</h2>
  </div><!--col-sm-12--> 
</div><!--row-->


<div class="row">
  <div class="col-sm-12 reading">
  <h4>You</h4>
    <a href="#card1Modal" role="button" data-toggle="modal">
    <div id="firstcard" class="cardback">
      <%= image_tag @conflictreading[0].imagefile, class: "firstcard-hidden" %></div></a>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6 reading">
  <h4>Your View of Them</h4>
    <a href="#card2Modal" role="button" data-toggle="modal">
    <div id="secondcard" class="cardback">
      <%= image_tag @conflictreading[1].imagefile, class: "secondcard-hidden" %></div></a>
  </div><!--col-->

  <div class="col-sm-6 reading">
    <h4>Their View of Themselves</h4>
    <a href="#card3Modal" role="button" data-toggle="modal">
    <div id="thirdcard" class="cardback">
      <%= image_tag @conflictreading[2].imagefile, class: "thirdcard-hidden" %></div></a>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6 reading">
  <h4>What They Mean to You</h4>
    <a href="#card4Modal" role="button" data-toggle="modal">
    <div id="fourthcard" class="cardback">
      <%= image_tag @conflictreading[3].imagefile, class: "fourthcard-hidden" %></div></a>
  </div><!--col-->

  <div class="col-sm-6 reading">
    <h4>What You Mean to Them</h4>
    <a href="#card5Modal" role="button" data-toggle="modal">
    <div id="fifthcard" class="cardback">
      <%= image_tag @conflictreading[4].imagefile, class: "fifthcard-hidden" %></div></a>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6 reading">
  <h4>Relationship Obstacles</h4>
    <a href="#card6Modal" role="button" data-toggle="modal">
    <div id="sixthcard" class="cardback">
      <%= image_tag @conflictreading[5].imagefile, class: "sixthcard-hidden" %></div></a>
  </div><!--col-->

  <div class="col-sm-6 reading">
    <h4>Relationship Strengths</h4>
    <a href="#card7Modal" role="button" data-toggle="modal">
    <div id="seventhcard" class="cardback">
      <%= image_tag @conflictreading[6].imagefile, class: "seventhcard-hidden" %></div></a>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-12 reading">
  <h4>The Final Outcome</h4>
    <a href="#card8Modal" role="button" data-toggle="modal">
    <div id="eighthcard" class="cardback">
      <%= image_tag @conflictreading[7].imagefile, class: "eighthcard-hidden" %></div></a>
  </div><!--col-->
</div><!--row-->

<!-- card1Modal -->
<div class="modal fade" id="card1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[0].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[0].imagefile %> 
      <h3>Your Role in this Conflict</h3>
      <p>According to the <%= @conflictreading[0].name %> card, you are currently manifesting qualities like <%= @conflictreading[0].meaning.downcase %> in this relationship and in this conflict.</p>
      <p>Take a moment to think about these qualities and the ways in they're working for or against you in resolving this conflict.</p>
      </div>
    </div>
  </div>
</div>

<!-- card2Modal -->
<div class="modal fade" id="card2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[1].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[1].imagefile %> 
      <h3>Your View of Them</h3>
      <p>The <%= @conflictreading[1].name %> card indicates the way you're seeing the other party in this conflict. They represent a theme of <%= @conflictreading[1].theme %> to you and relating them to words like <%= @conflictreading[1].meaning.downcase %> may get you pretty fired up.</p>
      <p>Take a moment to think about ways in which your feelings about these concepts are contributing to the resolution or the continuation of the conflict.</p>
      </div>
    </div>
  </div>
</div>

<!-- card3Modal -->
<div class="modal fade" id="card3Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[2].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[2].imagefile %> 
      <h3>Their View of Themselves</h3>
      <p>The <%= @conflictreading[2].name %> card represents how your partner is seeing their role in this conflict. It represents a theme of <%= @conflictreading[2].theme %> and indicates that your partner sees their role in this conflict  in terms like <%= @conflictreading[2].meaning.downcase %>.</p>
      <p>Take a moment to think about how your partner's view of themself is influencing the resolution or the continuation of the conflict.</p>
      </div>
    </div>
  </div>
</div>

<!-- card4Modal -->
<div class="modal fade" id="card4Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[3].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[3].imagefile %> 
      <h3>What They Really Mean to You</h3>
      <p>Because you've got your conflict goggles on, you're seeing your partner as a representation of <%= @conflictreading[1].theme %>. But according to the <%= @conflictreading[3].name %> card, they're actually embodying a theme of <%= @conflictreading[3].theme %> and are manifesting <%= @conflictreading[3].meaning.downcase %> in this relationship with you.</p>
      <p>Take a moment to think about how this larger view of their role in your relationship together will be important in helping you to remove your <%= @conflictreading[1].theme %> goggles and get you moving towards resolving your current conflict.</p>
      </div>
    </div>
  </div>
</div> <!--card4Modal-->

<!-- card5Modal -->
<div class="modal fade" id="card5Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[4].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[4].imagefile %> 
      <h3>What You Really Mean to Them</h3>
      <p>Despite the fact that you're presently in conflict, your relationship also has meaning to your partner. And according to the <%= @conflictreading[4].name %> card, that meaning is <%= @conflictreading[4].theme %>. Regardless of conflict, your partner is seeing you as an embodyment of <%= @conflictreading[4].meaning.downcase %> in this relationship.</p>
      <p>Take a moment to think about how your partner sees you in this relationship and how that may be contributing to their ability to resolve this current conflict with you.</p>
      </div>
    </div>
  </div>
</div> <!--card5Modal-->

<!-- card6Modal -->
<div class="modal fade" id="card6Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[5].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[5].imagefile %> 
      <h3>Relationship Obstacles</h3>
      <p>The <%= @conflictreading[5].name %> card reveals possible obstacles within your relationship. It carries a theme of <%= @conflictreading[5].theme %> and represents concepts like <%= @conflictreading[5].meaning.downcase %>.</p>
      <p>Sometimes those obstacles indicated by this card are clear, but other times you'll need to look beneath the surface to find a true source of obstacles.</p>
      <p>Do you and your partner both see the <%= @conflictreading[5].theme %> theme as an obstacle? If not, that might be your first clue in moving towards resolution.</p>
      </div>
    </div>
  </div>
</div> <!--card6Modal-->

<!-- card7Modal -->
<div class="modal fade" id="card7Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[6].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[6].imagefile %> 
      <h3>Relationship Strengths</h3>
      <p>Phew! Even though you're currently having a conflict with your partner and you've got some mysterious <%= @conflictreading[5].theme %>-themed obstacles to face, it's nice to know you've got some strengths in your relationship too.</p>
      <p>The <%= @conflictreading[6].name %> carries a theme of <%= @conflictreading[6].theme %> and represents concepts like <%= @conflictreading[6].meaning.downcase %>.</p>
      <p>Again, sometimes this card can be confusing. So let this strength theme of <%= @conflictreading[6].theme %> simmer a bit, then see if you can flex it to move toward resolution with your partner.</p>
      </div>
    </div>
  </div>
</div> <!--card7Modal-->

<!-- card8Modal -->
<div class="modal fade" id="card8Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="myModalLabel">The <%= @conflictreading[7].name %> Card Represents...</h4>
      </div>
      <div class="modal-body">
      <%= image_tag @conflictreading[7].imagefile %> 
      <h3>The Final Outcome</h3>
      <p>So here's the deal with the Final Outcome: it's based on your current path. You have the choice to stay the course or to work for change.</p>
      <p>According to the <%= @conflictreading[7].name %> card, the final outcome of this conflict is centered around a theme of <%= @conflictreading[7].theme %>. We're talking stuff like <%= @conflictreading[7].meaning.downcase %>. </p>
      <p>You may like this outcome, or you may not. But remember, it's not set in stone. You and your partner have the power to resolve your conflict in whichever way suits you and hopefully you've gained some insight on how to do that together and with grace. </p>
      </div>
    </div>
  </div>
</div> <!--card8Modal-->


<div class="spacer">
  <p>&nbsp;</p>
</div><!--spacer-->


<div class="row">
  <div class="col-sm-12">
    <center><%= button_to "New Conflict Resolution Reading", spread_spread3_path, :class => "btn btn-primary", :method => :get %></center>
  </div><!--col-sm-12-->
</div><!--row-->

  <div class="spacer">
  <p>&nbsp;</p>
</div><!--spacer--> 

</div> <!-- closes container -->

  <footer>
    <p><strong>Disclaimer:</strong> This site is intended for entertainment only. It is not intended to be a replacement for real advice from a trained therapist, physician, laywer, judge, or anybody. It's just a game, you dig? </p>
  </footer>  

<!-- Javascripts -->
<script type="text/javascript">
  jQuery(document).ready(function(){

    $("#firstcard").on("click", function() {
      $('.firstcard-hidden').css("display", "block");
    }); //firstcard

    $("#secondcard").on("click", function() {
      $('.secondcard-hidden').css("display", "block");
    }); //secondcard

    $("#thirdcard").on("click", function() {
      $('.thirdcard-hidden').css("display", "block");
    }); //thirdcard

    $("#fourthcard").on("click", function() {
      $('.fourthcard-hidden').css("display", "block");
    }); //fourthcard

    $("#fifthcard").on("click", function() {
      $('.fifthcard-hidden').css("display", "block");
    }); //fifthcard

    $("#sixthcard").on("click", function() {
      $('.sixthcard-hidden').css("display", "block");
    }); //sixthcard

    $("#seventhcard").on("click", function() {
      $('.seventhcard-hidden').css("display", "block");
    }); //seventhcard

    $("#eighthcard").on("click", function() {
      $('.eighthcard-hidden').css("display", "block");
    }); //eighthcard
  }); //jQuery(document)
</script>

