<div class="row">
    <h1 class="hometext tagline" style="margin-bottom: 50px;">Your Results...</h1>
  
</div><!--row-->


<div class="row">
  <div class="third">
    <h4>You</h4>
  </div><!-- third-->
  <div class="third">
    <h4>The Other Person</h4>
  </div><!-- third-->
  <div class="third">
    <h4>The Relationship</h4>
  </div><!-- third-->

</div><!--row-->

<div class="row">

  <% @reading.each do |cardobject| %>
 
    <div class="third">
      <%= image_tag cardobject.imagefile %>
      <h3>The <%= cardobject.name %></h3>
      <p><strong>Theme:</strong> <%= cardobject.theme %></p>
      <p><strong>Meaning:</strong> <%= cardobject.meaning %><p>
      </div><!-- third-->
      
      <% end %>

</div><!--row-->


<div class="row">
  <div class="interpretations">
  <h1>What Does This All Mean?</h1>

    <h3>Your Role in This Relationship</h3>
    <p>According to the <%= @reading[0].name %>, you are currently manifesting qualities like <%= @reading[0].meaning.downcase %> in this relationship.</p>
    <p>Take a moment to think about these qualities you're bringing and in which ways they're working for or against you in this relationship.</p>
    
    <h3>Your Partner in This Relationship</h3>
    <p>The <%= @reading[1].name %> card indicates that the "other" in this relationship is bringing the qualities of <%= @reading[1].meaning.downcase %> into this relationship with you.</p>
    <p>Take a moment to think about how these qualities may be impacting your interactions together.</p>
    
    <h3>The Relationship Itself</h3>
    <p>The last card, the <%= @reading[2].name %> card, indicates that the current theme of your relationship together is <%= @reading[2].theme %> and that, together, you're currently creating an environment based in concepts like <%= @reading[2].meaning.downcase %>.</p>
    <p>Take a moment to think about this <%= @reading[2].theme.downcase %> theme and if that's a theme you're intending to foster. Keep in mind, this is an intrepretation of your relationship as it <em>currently</em> stands. You have the power to to continue on this path or to make changes and change your current path together.</p>
  </div><!--interpretations-->
</div><!--row-->

<div class="spacer">
  <p>&nbsp;</p>
</div><!--spacer-->

<div class="row">
    <center><h2 class="hometext" style="margin: 0px;">Do Another Reading?</h2>
    <h3 class="teaser hometext" style="margin: 5px 0px 30px 0px;">Focus on that "other" then click the button below.</h3></center>
    <center><%= link_to "Read for Another Relationship", spread_spread1_path, class: "btn btn-success btn-lg" %></center>
  </div><!--row-->

  <div class="spacer">
  <p>&nbsp;</p>
</div><!--spacer-->    



