<p id="notice"><%= notice %></p>

<h1>Cards Index</h1>

<table calss="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.order("imagefile").each do |card| %>
      <tr>
        <td class="cardsindex"><%= image_tag card.imagefile %></td>
        <td><h4 style="margin-bottom: 0px;">The <%= link_to card.name, edit_card_path(card)  %> Card</h4><br/>
        <strong>Theme:</strong> <%= card.theme %><br/>
        <strong>Meaning:</strong> <%= card.meaning %><br/>
        <p style="color: gray; font-size: 80%; font-style: italic;">Image file name: <%= card.imagefile %></p></td>
        
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Card', new_card_path, class: "btn btn-info btn-sm" %>
