<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @card.theme %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @card.meaning %>
</p>

<p>
  <strong>Imagefile:</strong>
  <%= @card.imagefile %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
