<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-3">
  <%= image_tag @card.imagefile %><br>
  <%= @card.imagefile %>
  </div><!--col-sm-4-->

   <div class="col-sm-9">


    <h2>The <%= @card.name %> Card</h2>

    <%= link_to 'Edit', edit_card_path(@card), class: "btn btn-default btn-xs" %> 
<%= link_to 'Back', cards_path, class: "btn btn-default btn-xs" %>

    <p>
      <strong>Theme:</strong>
      <%= @card.theme %>
    </p>

    <p>
      <strong>Meaning:</strong>
      <%= @card.meaning %>
    </p>

    <p>
      <strong>Image File Name:</strong>
      <%= @card.imagefile %>
    </p>

  </div><!--col-sm-8-->

</div> <!--row-->


